<nav>
  <h2 class="nav-logo"><a href="/">Foodies</a></h2>
  <ul class="nav-wrapper">
    <li>
      <a href="/" class="nav-link">Home</a>
    </li>
    <li>
      <a href="/about" class="nav-link">About</a>
    </li>
    <li>
      <a href="/products" class="nav-link">Shop</a>
    </li>
    <li>
      <a href="/contact" class="nav-link">Contact</a>
    </li>
    <li>
      <a href="/blogs" class="nav-link">Blogs</a>
    </li>
    <li>
      <a href="/services" class="nav-link">Services</a>
    </li>
  </ul>
  <div class="icon"><i class="fa fa-hambuger">Hmb</i></div>

  <ul class="nav-auth">
    <li>
      <a class="signup" href="/users/signup">Sign Up</a>
    </li>
    <li>
      <a class="login" href="/users/login">Login</a>
    </li>
  </ul>
</nav>
