<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav") %>

  <main>
    <h1><%- title %></h1>
    <p>Couldn't find what you were looking for</p>
  </main>

  <%- include("./partials/footer") %>
</body>
