<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>

  <header>
    <div class="banner">
      <div class="header-text">
        <h2>Tasty Foods and desserts at your doorstep.</h2>
        <p>
          We've been didligently providing the best desserts abd foods to all
          our customers, and we're the best at it. If it's not from us then it's
          not as yummy as you might have imagined.
        </p>
        <button type="submit" class="btn-primary">Learn more</button>
      </div>
    </div>
  </header>

  <main>
    <section class="site-intro">
      <img
        src="../images/pizza half removebg.png"
        alt="half  pizza"
        class="image1"
      />
      <img src="../images/pizza removebg.png" alt="Pizza" class="image2" />
      <div class="site-intro-text">
        <h2>We've got desserts available in our mini shop.</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ad
          animi, tempora quae vero suscipit, eius autem dolores voluptatibus
          iure magni consequuntur accusamus praesentium nisi, omnis sit sed
          reiciendis cum?
        </p>
        <button type="submit" class="btn-primary">Go to our store</button>
      </div>
    </section>

    <section class="testimonials">
      <h2>Testimonials</h2>
      <div class="text-box">
        <div class="text-group">
          <img src="../images/pizza.jpg" alt="avatar" class="text-images" />
          <p>
            <q
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Voluptatibus a ducimus voluptatem molestias, unde exercitationem
              rerum quibusdam enim maiores accusamus tenetur consectetur quos ad
            </q>
          </p>
        </div>
        <div class="text-group">
          <img src="../images/pizza.jpg" alt="avatar" class="text-images" />
          <p>
            <q
              >Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Voluptatibus a ducimus voluptatem molestias, unde exercitationem
              rerum quibusdam enim maiores accusamus tenetur consectetur quos ad
            </q>
          </p>
        </div>
        <div class="text-group">
          <img src="../images/pizza.jpg" alt="avatar" class="text-images" />
          <p>
            <q
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore atque eligendi neque asperiores fugit eum magni
              recusandae esse distinctio excepturi quas fugiat velit, facilis
              totam.
            </q>
          </p>
        </div>
        <div class="text-group">
          <img src="../images/pizza.jpg" alt="avatar" class="text-images" />
          <p>
            <q
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              commodi voluptatum ipsa omnis officiis quo, expedita sequi ipsam?
              Id voluptatum pariatur ex,
            </q>
          </p>
        </div>
      </div>
    </section>

    <section class="store">
      <h2 class="store-heading">Our Store</h2>
      <div class="store-products">
        <div class="store-product">
          <div class="product-group">
            <div class="product-img-group">
              <img
                src="../images/hamburger.png"
                alt="product name"
                class="product-img"
              />
              <button class="btn-secondary top-right">Add to cart</button>
            </div>
            <h3 class="product-name">Product Name</h3>
            <p class="product-price">$100</p>
          </div>
        </div>
        <div class="store-product">
          <div class="product-group">
            <div class="product-img-group">
              <img
                src="../images/cup chocolate.png"
                alt="product name"
                class="product-img"
              />
              <button class="btn-secondary top-right">Add to cart</button>
            </div>
            <h3 class="product-name">Product Name</h3>
            <p class="product-price">$100</p>
          </div>
        </div>
        <div class="store-product">
          <div class="product-group">
            <div class="product-img-group">
              <img
                src="../images/shawarma.jpg"
                alt="product name"
                class="product-img"
              />
              <button class="btn-secondary top-right">Add to cart</button>
            </div>
            <h3 class="product-name">Product Name</h3>
            <p class="product-price">$100</p>
          </div>
        </div>
        <div class="store-product">
          <div class="product-group">
            <div class="product-img-group">
              <img
                src="../images/burger.png"
                alt="Product name"
                class="product-img"
              />
              <button class="btn-secondary top-right">Add to cart</button>
            </div>
            <h3 class="product-name">Product Name</h3>
            <p class="product-price">$100</p>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include("./partials/footer") %>
</body>
