<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav") %>

  <header>
    <div class="mini-banner">
      <div class="mini-banner-text">
        <h1>Breadcrumb</h1>
        <h2><%- title %> page</h2>
      </div>
    </div>
  </header>

  <main>
    <section class="services">
      <h2>our Services</h1>
      <div class="service">
        <div class="service-item">
          <h3>Fast delivery</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quibusdam suscipit eligendi dolore adipisci quaerat perspiciatis
            odit molestias corporis. Fugiat temporibus amet necessitatibus?
            Quod, incidunt at aut repellat unde deserunt. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat at nobis quaerat hic doloribus animi ratione facere nihil a sequi. Necessitatibus nihil libero labore voluptates eveniet praesentium molestias doloremque veniam!
          </p>
        </div>
        <div class="service-item">
          <h3>24hr Online Services</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quibusdam suscipit eligendi dolore adipisci quaerat perspiciatis
            odit molestias corporis. Fugiat temporibus amet necessitatibus?
            Quod, incidunt at aut repellat unde deserunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus asperiores sequi quas, quis maiores, nam obcaecati perferendis ducimus ipsum pariatur animi provident vel tempore vero consectetur minima iusto deserunt at.
          </p>
        </div>
        <div class="service-item">
          <h3>Fast delivery</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
            quibusdam suscipit eligendi dolore adipisci quaerat perspiciatis
            odit molestias corporis. Fugiat temporibus amet necessitatibus?
            Quod, incidunt at aut repellat unde deserunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia porro fuga quis molestias eveniet eum quisquam odio expedita, enim accusantium quos tempore magnam fugit pariatur minima nemo consequatur sapiente harum.
          </p>
        </div>
      </div>
    </section>
  </main>
  <%- include("./partials/footer") %>
</body>
